fastapi
uvicorn
requests
ffmpeg-python
numpy
torch
pydantic
python-dotenv
openai
twilio
langdetect
python-multipart
aiohttp
selenium
gspread
oauth2client
selenium
undetected-chromedriver
webdriver-manager
selenium 
imapclient
selenium==4.10.0  # O la última versión estable
