fastapi
uvicorn
requests
ffmpeg-python
numpy
torch
pydantic
python-dotenv
openai
twilio
langdetect
python-multipart
aiohttp
selenium
gspread
oauth2client
selenium
undetected-chromedriver
webdriver-manager
