fastapi
uvicorn
requests
ffmpeg-python
numpy
torch
pydantic
python-dotenv
openai
twilio
langdetect
python-multipart
aiohttp
gspread
oauth2client
undetected-chromedriver
webdriver-manager 
imapclient
selenium==4.10.0  # O la última versión estable
